In [1]:
#  importing three libraries used of data analysis
import pandas as pd
import numpy as np
import os

In [2]:
# Reading in the csv file 
housing_data = pd.read_csv("Nashville Housing Data.csv", delimiter = ';')

In [3]:
# Looking at data shape (the number of rows and columns in the DataFrame)
housing_data.shape

(56477, 19)

In [4]:
# Looking at the first and last few rows of the DataFrame
housing_data.head

<bound method NDFrame.head of        UniqueID           ParcelID                  LandUse  \
0           2045   007 00 0 125.00            SINGLE FAMILY
1          16918   007 00 0 130.00            SINGLE FAMILY
2          54582   007 00 0 138.00            SINGLE FAMILY
3          43070   007 00 0 143.00            SINGLE FAMILY
4          22714   007 00 0 149.00            SINGLE FAMILY
...          ...               ...                      ...
56472      30469  188 10 0A 101.00            SINGLE FAMILY
56473      27707  188 10 0A 107.00            SINGLE FAMILY
56474      52709  188 10 0A 118.00  VACANT RESIDENTIAL LAND
56475      54042  188 10 0A 121.00  VACANT RESIDENTIAL LAND
56476      54043  188 10 0A 122.00  VACANT RESIDENTIAL LAND

                           PropertyAddress            SaleDate SalePrice  \
0       1808  FOX CHASE DR, GOODLETTSVILLE       April 9, 2013    240000
1       1832  FOX CHASE DR, GOODLETTSVILLE       June 10, 2014    366000
2       1864 FOX CHASE  DR, GOODLETTSVILLE  September 26, 2016    435000
3       1853  FOX CHASE DR, GOODLETTSVILLE    January 29, 2016    255000
4       1829  FOX CHASE DR, GOODLETTSVILLE    October 10, 2014    278000
...                                    ...                 ...       ...
56472  1435  WINDING CREEK DR, NOLENSVILLE        May 27, 2015    157500
56473  1423  WINDING CREEK DR, NOLENSVILLE       March 2, 2015    145000
56474    1804 GRACE POINT  LN, NOLENSVILLE     August 16, 2016    234611
56475   1709 PARK TERRACE  LN, NOLENSVILLE   September 7, 2016     93844
56476   1713 PARK TERRACE  LN, NOLENSVILLE   September 7, 2016     93844

         LegalReference SoldAsVacant                           OwnerName  \
0      20130412-0036474           No           FRAZIER, CYRENTHA LYNETTE
1      20140619-0053768           No             BONER, CHARLES & LESLIE
2      20160927-0101718           No           WILSON, JAMES E. & JOANNE
3      20160129-0008913           No            BAKER, JAY K. & SUSAN E.
4      20141015-0095255           No  POST, CHRISTOPHER M. & SAMANTHA C.
...                 ...          ...                                 ...
56472  20150608-0053286           No                                 NaN
56473  20150304-0019013           No                                 NaN
56474  20160819-0087214          Yes                                 NaN
56475  20160919-0098411          Yes                                 NaN
56476  20160919-0098411          Yes                                 NaN

                                 OwnerAddress  Acreage  \
0      1808  FOX CHASE DR, GOODLETTSVILLE, TN      2.3
1      1832  FOX CHASE DR, GOODLETTSVILLE, TN      3.5
2      1864  FOX CHASE DR, GOODLETTSVILLE, TN      2.9
3      1853  FOX CHASE DR, GOODLETTSVILLE, TN      2.6
4      1829  FOX CHASE DR, GOODLETTSVILLE, TN      2.0
...                                       ...      ...
56472                                     NaN      NaN
56473                                     NaN      NaN
56474                                     NaN      NaN
56475                                     NaN      NaN
56476                                     NaN      NaN

                     TaxDistrict  LandValue  BuildingValue  TotalValue  \
0      GENERAL SERVICES DISTRICT    50000.0       168200.0    235700.0
1      GENERAL SERVICES DISTRICT    50000.0       264100.0    319000.0
2      GENERAL SERVICES DISTRICT    50000.0       216200.0    298000.0
3      GENERAL SERVICES DISTRICT    50000.0       147300.0    197300.0
4      GENERAL SERVICES DISTRICT    50000.0       152300.0    202300.0
...                          ...        ...            ...         ...
56472                        NaN        NaN            NaN         NaN
56473                        NaN        NaN            NaN         NaN
56474                        NaN        NaN            NaN         NaN
56475                        NaN        NaN            NaN         NaN
56476                        NaN        NaN            NaN         NaN

       YearBuilt  Bedrooms  FullBath  HalfBath
0         1986.0       3.0       3.0       0.0
1         1998.0       3.0       3.0       2.0
2         1987.0       4.0       3.0       0.0
3         1985.0       3.0       3.0       0.0
4         1984.0       4.0       3.0       0.0
...          ...       ...       ...       ...
56472        NaN       NaN       NaN       NaN
56473        NaN       NaN       NaN       NaN
56474        NaN       NaN       NaN       NaN
56475        NaN       NaN       NaN       NaN
56476        NaN       NaN       NaN       NaN

[56477 rows x 19 columns]>

In [5]:
# Looking at the dataframe's content (Datatyes and Non-Null Count)
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   UniqueID         56477 non-null  int64
 1   ParcelID         56477 non-null  object
 2   LandUse          56477 non-null  object
 3   PropertyAddress  56448 non-null  object
 4   SaleDate         56477 non-null  object
 5   SalePrice        56477 non-null  object
 6   LegalReference   56477 non-null  object
 7   SoldAsVacant     56477 non-null  object
 8   OwnerName        25261 non-null  object
 9   OwnerAddress     26015 non-null  object
 10  Acreage          26015 non-null  float64
 11  TaxDistrict      26015 non-null  object
 12  LandValue        26015 non-null  float64
 13  BuildingValue    26015 non-null  float64
 14  TotalValue       26015 non-null  float64
 15  YearBuilt        24163 non-null  float64
 16  Bedrooms         24157 non-null  float64
 17  FullBath         24275 non-null  float64
 18  HalfBath         24144 non-null  float64
dtypes: float64(8), int64(1), object(10)
memory usage: 8.2+ MB

In [6]:
# Inspecting unique value in each column

for col in housing_data.columns:
    unique_values = housing_data[col].nunique()
    print(f'{col}: {unique_values} unique values')

UniqueID : 56477 unique values
ParcelID: 48559 unique values
LandUse: 39 unique values
PropertyAddress: 45068 unique values
SaleDate: 1119 unique values
SalePrice: 8089 unique values
LegalReference: 52761 unique values
SoldAsVacant: 4 unique values
OwnerName: 19713 unique values
OwnerAddress: 22331 unique values
Acreage: 519 unique values
TaxDistrict: 7 unique values
LandValue: 1122 unique values
BuildingValue: 4405 unique values
TotalValue: 5848 unique values
YearBuilt: 126 unique values
Bedrooms: 12 unique values
FullBath: 11 unique values
HalfBath: 4 unique values

In [7]:
# We can see there are 56477 unique values out of 56477 in the UniqueID, therefor there are 0 duplicated rows.

# noticing that there is 4 unique values in the SoldAsVacant column, it's worth a closer inspection.

print(housing_data['SoldAsVacant'].unique())

['No' 'N' 'Yes' 'Y']

In [8]:
# ['No' 'N' 'Yes' 'Y'] values in SoldAsVacant column. Let's replace N with No and Y with Yes 

housing_data['SoldAsVacant'].replace({'N': 'No', 'Y': 'Yes'}, inplace=True)

# Printing the unique values to check we only two values in the SoldAsVacant column 

print(housing_data['SoldAsVacant'].unique())

['No' 'Yes']

In [9]:
#let's now look for missing data within the table. 

# Counting the number of null values within the table
null_counts = housing_data.isnull().sum()

print(null_counts)

UniqueID               0
ParcelID               0
LandUse                0
PropertyAddress       29
SaleDate               0
SalePrice              0
LegalReference         0
SoldAsVacant           0
OwnerName          31216
OwnerAddress       30462
Acreage            30462
TaxDistrict        30462
LandValue          30462
BuildingValue      30462
TotalValue         30462
YearBuilt          32314
Bedrooms           32320
FullBath           32202
HalfBath           32333
dtype: int64

In [10]:
# let's look at the PropertyAddress with 29 null values.

# Filtering for rows where PropertyAddress is null
null_property_address = housing_data[housing_data['PropertyAddress'].isnull()]

print(null_property_address)

       UniqueID           ParcelID                  LandUse PropertyAddress  \
159        43076   025 07 0 031.00            SINGLE FAMILY             NaN
223        39432   026 01 0 069.00  VACANT RESIDENTIAL LAND             NaN
246        45290   026 05 0 017.00            SINGLE FAMILY             NaN
305        53147  026 06 0A 038.00        RESIDENTIAL CONDO             NaN
531        43080   033 06 0 041.00            SINGLE FAMILY             NaN
533        45295  033 06 0A 002.00            SINGLE FAMILY             NaN
665        48731   033 15 0 123.00            SINGLE FAMILY             NaN
858        36531   034 03 0 059.00            SINGLE FAMILY             NaN
1043       46919  034 07 0B 015.00  VACANT RESIDENTIAL LAND             NaN
1176       44264  034 16 0A 004.00  VACANT RESIDENTIAL LAND             NaN
1262       45298  041 03 0A 100.00            SINGLE FAMILY             NaN
1642       40678   042 13 0 075.00            SINGLE FAMILY             NaN
1782       47293   043 04 0 014.00            SINGLE FAMILY             NaN
1921       22775   043 09 0 074.00  VACANT RESIDENTIAL LAND             NaN
2110       45349   043 13 0 308.00            SINGLE FAMILY             NaN
2362       50927   044 05 0 135.00            SINGLE FAMILY             NaN
3434        3299   052 01 0 296.00            SINGLE FAMILY             NaN
3681       43151  052 08 0A 320.00            SINGLE FAMILY             NaN
19984      49886   092 06 0 273.00            SINGLE FAMILY             NaN
19986      27140   092 06 0 282.00            SINGLE FAMILY             NaN
20328      11478   092 13 0 322.00            SINGLE FAMILY             NaN
20332      32385   092 13 0 339.00            SINGLE FAMILY             NaN
21129       8126   093 08 0 054.00            SINGLE FAMILY             NaN
29124      45774   107 13 0 107.00            SINGLE FAMILY             NaN
29332      14753  108 07 0A 026.00        RESIDENTIAL CONDO             NaN
29894      15886  109 04 0A 080.00          VACANT RES LAND             NaN
30087      24197  110 03 0A 061.00            SINGLE FAMILY             NaN
30192      51930  113 14 0A 002.00  VACANT RESIDENTIAL LAND             NaN
30540      51703  114 15 0A 030.00        RESIDENTIAL CONDO             NaN

                 SaleDate SalePrice    LegalReference SoldAsVacant  \
159      January 15, 2016    179900  20160120-0005776           No
223      October 23, 2015    153000  20151028-0109602           No
246        March 29, 2016    155000  20160330-0029941           No
305       August 25, 2016    144900  20160831-0091567           No
531       January 4, 2016    170000  20160107-0001526           No
533        March 29, 2016    210000  20160331-0030709           No
665           May 5, 2016    199900  20160506-0045368           No
858       August 13, 2015    245000  20150819-0083759           No
1043       April 27, 2016     40000  20160304-0020905          Yes
1176     February 4, 2016    130000  20160205-0011327          Yes
1262       March 18, 2016    170000  20160322-0027048           No
1642    November 30, 2015    208000  20151209-0123831           No
1782       April 29, 2016    190000  20160503-0043576           No
1921     October 27, 2014    151000  20141028-0099094          Yes
2110       March 31, 2016    155000  20160405-0032445           No
2362        June 15, 2016    160000  20160617-0061987           No
3434         May 31, 2013     79370  20130620-0063114           No
3681     January 15, 2016    150000  20160119-0004918           No
19984       June 21, 2016    186000  20160705-0068281           No
19986   February 20, 2015     41500  20150224-0015900           No
20328    January 17, 2014    269500  20140122-0006168           No
20332        June 5, 2015    450000  20150618-0058311           No
21129  September 20, 2013     25000  20130923-0099666           No
29124      March 28, 2016    169900  20160330-0030078           No
29332      April 15, 2014     79900  20140416-0031777           No
29894        May 13, 2014    255590  20140514-0041276           No
30087   November 19, 2014    269750  20141120-0106962           No
30192        July 5, 2016    133000  20160707-0069375          Yes
30540        July 8, 2016    343235  20160713-0071757           No

                                     OwnerName  \
159                    COSTNER, FRED & CAROLYN
223               SHACKLEFORD, MICHAEL C., JR.
246           TRIPP, MARVIN S. & DEBORAH YOUNG
305                                        NaN
531                      FRANK, ZACHARY & NIKI
533                                        NaN
665       COLEMAN, AARON A. & CECIL, CORRIE J.
858             DILICK, JOHN MARK & ANNETTE A.
1043                                       NaN
1176                                       NaN
1262                                       NaN
1642               SADOWSKY, ERIC C. & LISA D.
1782          CRIPPS, WILLIE S. JR. & GINEA M.
1921                      BREWER HOLDINGS, LLC
2110         JACKSON, ADAM L. & MOORE, MARY A.
2362                    SMITH, WARREN & MARTHA
3434                      KIRBY, WILLIAM E. JR
3681                                       NaN
19984                      SOLAVA, RACHEL LYNN
19986                 PROSPERITAS PARTNERS LLC
20328     WIGGINS, MATHEW L. & GOOD, KENDRA A.
20332                           JUMPER, NICOLE
21129  CRAWFORD, CHRISTOPHER C. & BOBBIE LEANN
29124                    GROOMS, MICAH & CASEY
29332                                      NaN
29894                                      NaN
30087                                      NaN
30192                                      NaN
30540                                      NaN

                                 OwnerAddress  Acreage  \
159      410  ROSEHILL CT, GOODLETTSVILLE, TN     0.96
223    141  TWO MILE PIKE, GOODLETTSVILLE, TN     0.17
246         208  EAST AVE, GOODLETTSVILLE, TN     0.20
305                                       NaN      NaN
531     1129  CAMPBELL RD, GOODLETTSVILLE, TN     0.24
533                                       NaN      NaN
665    438  W CAMPBELL RD, GOODLETTSVILLE, TN     1.39
858               2117  PAULA DR, MADISON, TN     1.01
1043                                      NaN      NaN
1176                                      NaN      NaN
1262                                      NaN      NaN
1642             222  FOXBORO DR, MADISON, TN     1.01
1782          112  HILLER DR, OLD HICKORY, TN     0.29
1921             213 B LOVELL ST, MADISON, TN     0.15
2110             224  HICKORY ST, MADISON, TN     0.16
2362         202  KEETON AVE, OLD HICKORY, TN     0.12
3434            726  IDLEWILD DR, MADISON, TN     0.22
3681                                      NaN      NaN
19984          2721  HERMAN ST, NASHVILLE, TN     0.17
19986          815  31ST AVE N, NASHVILLE, TN     0.17
20328          237  37TH AVE N, NASHVILLE, TN     0.34
20332          311  35TH AVE N, NASHVILLE, TN     0.16
21129         700  GLENVIEW DR, NASHVILLE, TN     0.21
29124        1205  THOMPSON PL, NASHVILLE, TN     0.39
29332                                     NaN      NaN
29894                                     NaN      NaN
30087                                     NaN      NaN
30192                                     NaN      NaN
30540                                     NaN      NaN

                     TaxDistrict  LandValue  BuildingValue  TotalValue  \
159       CITY OF GOODLETTSVILLE    30000.0        70000.0    100000.0
223       CITY OF GOODLETTSVILLE    21100.0       121600.0    142700.0
246       CITY OF GOODLETTSVILLE    21100.0       130200.0    151300.0
305                          NaN        NaN            NaN         NaN
531    GENERAL SERVICES DISTRICT    35000.0       110500.0    145500.0
533                          NaN        NaN            NaN         NaN
665    GENERAL SERVICES DISTRICT    45000.0        90300.0    135300.0
858    GENERAL SERVICES DISTRICT    32000.0       170000.0    228300.0
1043                         NaN        NaN            NaN         NaN
1176                         NaN        NaN            NaN         NaN
1262                         NaN        NaN            NaN         NaN
1642   GENERAL SERVICES DISTRICT    30000.0       100000.0    130000.0
1782   GENERAL SERVICES DISTRICT    17000.0       143700.0    173600.0
1921   GENERAL SERVICES DISTRICT    18000.0       115600.0    133600.0
2110   GENERAL SERVICES DISTRICT    16000.0        65900.0     81900.0
2362   GENERAL SERVICES DISTRICT    19000.0       102700.0    121700.0
3434   GENERAL SERVICES DISTRICT    16000.0        60800.0     76800.0
3681                         NaN        NaN            NaN         NaN
19984    URBAN SERVICES DISTRICT     9000.0        63200.0     72200.0
19986    URBAN SERVICES DISTRICT    13000.0        49400.0     62400.0
20328    URBAN SERVICES DISTRICT    91000.0       107100.0    198100.0
20332    URBAN SERVICES DISTRICT    65000.0       365300.0    430300.0
21129    URBAN SERVICES DISTRICT    25000.0       236800.0    261800.0
29124    URBAN SERVICES DISTRICT    17000.0        75600.0     96200.0
29332                        NaN        NaN            NaN         NaN
29894                        NaN        NaN            NaN         NaN
30087                        NaN        NaN            NaN         NaN
30192                        NaN        NaN            NaN         NaN
30540                        NaN        NaN            NaN         NaN

       YearBuilt  Bedrooms  FullBath  HalfBath
159       1964.0       3.0       1.0       0.0
223       2015.0       3.0       2.0       0.0
246       2008.0       3.0       2.0       0.0
305          NaN       NaN       NaN       NaN
531       2000.0       3.0       2.0       0.0
533          NaN       NaN       NaN       NaN
665       1954.0       2.0       1.0       0.0
858       1964.0       4.0       3.0       0.0
1043         NaN       NaN       NaN       NaN
1176         NaN       NaN       NaN       NaN
1262         NaN       NaN       NaN       NaN
1642      1967.0       3.0       1.0       1.0
1782      1956.0       4.0       2.0       1.0
1921      2015.0       3.0       2.0       0.0
2110      1940.0       2.0       1.0       0.0
2362      2015.0       4.0       2.0       0.0
3434      1957.0       2.0       1.0       0.0
3681         NaN       NaN       NaN       NaN
19984     1987.0       2.0       1.0       1.0
19986     1960.0       2.0       1.0       0.0
20328     1945.0       2.0       1.0       0.0
20332     2015.0       3.0       3.0       1.0
21129     2015.0       3.0       2.0       1.0
29124     1949.0       3.0       1.0       0.0
29332        NaN       NaN       NaN       NaN
29894        NaN       NaN       NaN       NaN
30087        NaN       NaN       NaN       NaN
30192        NaN       NaN       NaN       NaN
30540        NaN       NaN       NaN       NaN

In [11]:
# Find the duplicated ParcelID values
duplicates_ParcelID = housing_data['ParcelID'].duplicated(keep=False)

# Select the duplicated rows and show the top 20
duplicated_rows_ParcelID = housing_data[duplicates_ParcelID].head(20)

# Print the duplicated_rows DataFrame
print(duplicated_rows_ParcelID)

     UniqueID           ParcelID          LandUse  \
43        6993   015 14 0 060.00    SINGLE FAMILY
44       43071   015 14 0 060.00    SINGLE FAMILY
60        8903   018 00 0 164.00  VACANT RES LAND
61       16921   018 00 0 164.00    SINGLE FAMILY
74        5807   018 07 0 045.00    SINGLE FAMILY
75       11694   018 07 0 045.00    SINGLE FAMILY
83       27163   018 07 0 109.00    SINGLE FAMILY
84       34756   018 07 0 109.00    SINGLE FAMILY
85       22716   018 07 0 142.00    SINGLE FAMILY
86       50584   018 07 0 142.00    SINGLE FAMILY
87       25014   018 07 0 150.00    SINGLE FAMILY
88       54585   018 07 0 150.00    SINGLE FAMILY
92       11695   018 08 0 015.00    SINGLE FAMILY
93       48720   018 08 0 015.00    SINGLE FAMILY
111      13355  018 12 0A 019.00    SINGLE FAMILY
112      26216  018 12 0A 019.00    SINGLE FAMILY
125       2047   018 16 0 136.00  VACANT RES LAND
126      31077   018 16 0 136.00    SINGLE FAMILY
129      18371   019 13 0 037.00    SINGLE FAMILY
130      41929   019 13 0 037.00    SINGLE FAMILY

                         PropertyAddress            SaleDate SalePrice  \
43            3113  MILLIKEN DR, JOELTON     August 20, 2013    145000
44            3113  MILLIKEN DR, JOELTON    January 15, 2016    160000
60     332  MONCRIEF AVE, GOODLETTSVILLE    October 25, 2013     25000
61     332  MONCRIEF AVE, GOODLETTSVILLE       June 24, 2014    219900
74        202  LUCIEN RD, GOODLETTSVILLE       July 26, 2013     75000
75        202  LUCIEN RD, GOODLETTSVILLE    January 14, 2014    142000
83   105  BRYAN HOUSE DR, GOODLETTSVILLE    February 9, 2015     80000
84   105  BRYAN HOUSE DR, GOODLETTSVILLE       July 20, 2015    179900
85   301  MYSTIC HILL DR, GOODLETTSVILLE    October 24, 2014    229900
86   301 MYSTIC HILL  DR, GOODLETTSVILLE        June 7, 2016    279900
87   316  MYSTIC HILL DR, GOODLETTSVILLE   December 18, 2014    158500
88   316 MYSTIC HILL  DR, GOODLETTSVILLE  September 30, 2016    228000
92         105  ISAAC DR, GOODLETTSVILLE     January 3, 2014    120000
93         105 ISAAC  DR, GOODLETTSVILLE        May 16, 2016    174900
111      105  MAVELLA CT, GOODLETTSVILLE      March 31, 2014    110000
112      105  MAVELLA CT, GOODLETTSVILLE    January 13, 2015    158000
125    335  MONCRIEF AVE, GOODLETTSVILLE      April 12, 2013     20000
126    335  MONCRIEF AVE, GOODLETTSVILLE        May 29, 2015    340000
129        119  MYERS ST, GOODLETTSVILLE       July 30, 2014    114000
130        119  MYERS ST, GOODLETTSVILLE    December 4, 2015    134750

       LegalReference SoldAsVacant                                 OwnerName  \
43   20130821-0088382           No                      SMITH, HOLLI NICHOLE
44   20160119-0004923           No                      SMITH, HOLLI NICHOLE
60   20131028-0111686           No     BRUCE, WILLIAM JEFFREY & REBECCA LYNN
61   20140625-0055427           No     BRUCE, WILLIAM JEFFREY & REBECCA LYNN
74   20130730-0078963           No              CARNEY, BILLY H. & MYRTHA H.
75   20140121-0005326           No              CARNEY, BILLY H. & MYRTHA H.
83   20150210-0012443           No  TSCHIRGI, JOAN C. & JOHNSON, CHANELLE A.
84   20150721-0071325           No  TSCHIRGI, JOAN C. & JOHNSON, CHANELLE A.
85   20141027-0098944           No               BURNETT, ANDREW & KELLIE L.
86   20160610-0059130           No               BURNETT, ANDREW & KELLIE L.
87   20150109-0002500           No                            WHITNEY, KATHY
88   20161003-0103666           No                            WHITNEY, KATHY
92   20140107-0001596           No            STARSKY, FRANK III & CHARLOTTE
93   20160519-0050067           No            STARSKY, FRANK III & CHARLOTTE
111  20140402-0027284           No                                       NaN
112  20150116-0004659           No                                       NaN
125  20130416-0037646          Yes      LEWIS, PHILLIP EDWARD JR. & ERICA D.
126  20150602-0050792           No      LEWIS, PHILLIP EDWARD JR. & ERICA D.
129  20140801-0068977           No                        BERISA, SENAD JAKE
130  20151208-0123374           No                        BERISA, SENAD JAKE

                                OwnerAddress  Acreage  \
43            3113  MILLIKEN DR, JOELTON, TN     0.98
44            3113  MILLIKEN DR, JOELTON, TN     0.98
60     332  MONCRIEF AVE, GOODLETTSVILLE, TN     0.39
61     332  MONCRIEF AVE, GOODLETTSVILLE, TN     0.39
74        202  LUCIEN RD, GOODLETTSVILLE, TN     0.45
75        202  LUCIEN RD, GOODLETTSVILLE, TN     0.45
83   105  BRYAN HOUSE DR, GOODLETTSVILLE, TN     0.39
84   105  BRYAN HOUSE DR, GOODLETTSVILLE, TN     0.39
85   301  MYSTIC HILL DR, GOODLETTSVILLE, TN     0.35
86   301  MYSTIC HILL DR, GOODLETTSVILLE, TN     0.35
87   316  MYSTIC HILL DR, GOODLETTSVILLE, TN     0.37
88   316  MYSTIC HILL DR, GOODLETTSVILLE, TN     0.37
92         105  ISAAC DR, GOODLETTSVILLE, TN     0.56
93         105  ISAAC DR, GOODLETTSVILLE, TN     0.56
111                                      NaN      NaN
112                                      NaN      NaN
125    335  MONCRIEF AVE, GOODLETTSVILLE, TN     0.58
126    335  MONCRIEF AVE, GOODLETTSVILLE, TN     0.58
129        119  MYERS ST, GOODLETTSVILLE, TN     0.26
130        119  MYERS ST, GOODLETTSVILLE, TN     0.26

                   TaxDistrict  LandValue  BuildingValue  TotalValue  \
43   GENERAL SERVICES DISTRICT    30000.0       111200.0    141200.0
44   GENERAL SERVICES DISTRICT    30000.0       111200.0    141200.0
60      CITY OF GOODLETTSVILLE    24000.0       175900.0    199900.0
61      CITY OF GOODLETTSVILLE    24000.0       175900.0    199900.0
74      CITY OF GOODLETTSVILLE    28000.0       101900.0    132600.0
75      CITY OF GOODLETTSVILLE    28000.0       101900.0    132600.0
83      CITY OF GOODLETTSVILLE    28000.0       103800.0    131800.0
84      CITY OF GOODLETTSVILLE    28000.0       103800.0    131800.0
85      CITY OF GOODLETTSVILLE    28000.0       152400.0    180400.0
86      CITY OF GOODLETTSVILLE    28000.0       152400.0    180400.0
87      CITY OF GOODLETTSVILLE    28000.0       123800.0    151800.0
88      CITY OF GOODLETTSVILLE    28000.0       123800.0    151800.0
92      CITY OF GOODLETTSVILLE    28000.0       101400.0    131600.0
93      CITY OF GOODLETTSVILLE    28000.0       101400.0    131600.0
111                        NaN        NaN            NaN         NaN
112                        NaN        NaN            NaN         NaN
125     CITY OF GOODLETTSVILLE    26400.0       308300.0    334700.0
126     CITY OF GOODLETTSVILLE    26400.0       308300.0    334700.0
129     CITY OF GOODLETTSVILLE    24000.0        65300.0     89300.0
130     CITY OF GOODLETTSVILLE    24000.0        65300.0     89300.0

     YearBuilt  Bedrooms  FullBath  HalfBath
43      1996.0       3.0       2.0       0.0
44      1996.0       3.0       2.0       0.0
60      2014.0       3.0       2.0       0.0
61      2014.0       3.0       2.0       0.0
74      1957.0       3.0       1.0       0.0
75      1957.0       3.0       1.0       0.0
83      1977.0       3.0       2.0       0.0
84      1977.0       3.0       2.0       0.0
85      1985.0       3.0       2.0       0.0
86      1985.0       3.0       2.0       0.0
87      1987.0       3.0       2.0       0.0
88      1987.0       3.0       2.0       0.0
92      1960.0       3.0       1.0       1.0
93      1960.0       3.0       1.0       1.0
111        NaN       NaN       NaN       NaN
112        NaN       NaN       NaN       NaN
125     2014.0       3.0       2.0       0.0
126     2014.0       3.0       2.0       0.0
129     1930.0       3.0       2.0       0.0
130     1930.0       3.0       2.0       0.0

In [12]:
# Let's look at rows the ParcelID 015 14 0 060.00

selected_rows = housing_data[housing_data['ParcelID'] == '015 14 0 060.00'][['ParcelID', 'PropertyAddress']]

In [13]:
print(selected_rows)

           ParcelID             PropertyAddress
43  015 14 0 060.00  3113  MILLIKEN DR, JOELTON
44  015 14 0 060.00  3113  MILLIKEN DR, JOELTON

In [14]:
#now we can look at another ParcelID with duplicates (019 13 0 037.00)

selected_rows2 = housing_data[housing_data['ParcelID'] == '019 13 0 037.00'][['ParcelID', 'PropertyAddress']]

print(selected_rows2)

            ParcelID                PropertyAddress
129  019 13 0 037.00  119  MYERS ST, GOODLETTSVILLE
130  019 13 0 037.00  119  MYERS ST, GOODLETTSVILLE

In [15]:
#It look's like the ParcelID is derectly releted to the PropertyAddress

# Knowing this we can fill the missing data by Grouping the DataFrame by the ParcelID and forward-fill missing values

housing_data['PropertyAddress'] = housing_data.groupby('ParcelID')['PropertyAddress'].fillna(method='ffill')


print(housing_data)

       UniqueID           ParcelID                  LandUse  \
0           2045   007 00 0 125.00            SINGLE FAMILY
1          16918   007 00 0 130.00            SINGLE FAMILY
2          54582   007 00 0 138.00            SINGLE FAMILY
3          43070   007 00 0 143.00            SINGLE FAMILY
4          22714   007 00 0 149.00            SINGLE FAMILY
...          ...               ...                      ...
56472      30469  188 10 0A 101.00            SINGLE FAMILY
56473      27707  188 10 0A 107.00            SINGLE FAMILY
56474      52709  188 10 0A 118.00  VACANT RESIDENTIAL LAND
56475      54042  188 10 0A 121.00  VACANT RESIDENTIAL LAND
56476      54043  188 10 0A 122.00  VACANT RESIDENTIAL LAND

                           PropertyAddress            SaleDate SalePrice  \
0       1808  FOX CHASE DR, GOODLETTSVILLE       April 9, 2013    240000
1       1832  FOX CHASE DR, GOODLETTSVILLE       June 10, 2014    366000
2       1864 FOX CHASE  DR, GOODLETTSVILLE  September 26, 2016    435000
3       1853  FOX CHASE DR, GOODLETTSVILLE    January 29, 2016    255000
4       1829  FOX CHASE DR, GOODLETTSVILLE    October 10, 2014    278000
...                                    ...                 ...       ...
56472  1435  WINDING CREEK DR, NOLENSVILLE        May 27, 2015    157500
56473  1423  WINDING CREEK DR, NOLENSVILLE       March 2, 2015    145000
56474    1804 GRACE POINT  LN, NOLENSVILLE     August 16, 2016    234611
56475   1709 PARK TERRACE  LN, NOLENSVILLE   September 7, 2016     93844
56476   1713 PARK TERRACE  LN, NOLENSVILLE   September 7, 2016     93844

         LegalReference SoldAsVacant                           OwnerName  \
0      20130412-0036474           No           FRAZIER, CYRENTHA LYNETTE
1      20140619-0053768           No             BONER, CHARLES & LESLIE
2      20160927-0101718           No           WILSON, JAMES E. & JOANNE
3      20160129-0008913           No            BAKER, JAY K. & SUSAN E.
4      20141015-0095255           No  POST, CHRISTOPHER M. & SAMANTHA C.
...                 ...          ...                                 ...
56472  20150608-0053286           No                                 NaN
56473  20150304-0019013           No                                 NaN
56474  20160819-0087214          Yes                                 NaN
56475  20160919-0098411          Yes                                 NaN
56476  20160919-0098411          Yes                                 NaN

                                 OwnerAddress  Acreage  \
0      1808  FOX CHASE DR, GOODLETTSVILLE, TN      2.3
1      1832  FOX CHASE DR, GOODLETTSVILLE, TN      3.5
2      1864  FOX CHASE DR, GOODLETTSVILLE, TN      2.9
3      1853  FOX CHASE DR, GOODLETTSVILLE, TN      2.6
4      1829  FOX CHASE DR, GOODLETTSVILLE, TN      2.0
...                                       ...      ...
56472                                     NaN      NaN
56473                                     NaN      NaN
56474                                     NaN      NaN
56475                                     NaN      NaN
56476                                     NaN      NaN

                     TaxDistrict  LandValue  BuildingValue  TotalValue  \
0      GENERAL SERVICES DISTRICT    50000.0       168200.0    235700.0
1      GENERAL SERVICES DISTRICT    50000.0       264100.0    319000.0
2      GENERAL SERVICES DISTRICT    50000.0       216200.0    298000.0
3      GENERAL SERVICES DISTRICT    50000.0       147300.0    197300.0
4      GENERAL SERVICES DISTRICT    50000.0       152300.0    202300.0
...                          ...        ...            ...         ...
56472                        NaN        NaN            NaN         NaN
56473                        NaN        NaN            NaN         NaN
56474                        NaN        NaN            NaN         NaN
56475                        NaN        NaN            NaN         NaN
56476                        NaN        NaN            NaN         NaN

       YearBuilt  Bedrooms  FullBath  HalfBath
0         1986.0       3.0       3.0       0.0
1         1998.0       3.0       3.0       2.0
2         1987.0       4.0       3.0       0.0
3         1985.0       3.0       3.0       0.0
4         1984.0       4.0       3.0       0.0
...          ...       ...       ...       ...
56472        NaN       NaN       NaN       NaN
56473        NaN       NaN       NaN       NaN
56474        NaN       NaN       NaN       NaN
56475        NaN       NaN       NaN       NaN
56476        NaN       NaN       NaN       NaN

[56477 rows x 19 columns]

In [16]:
#let's look at missing data within the table again to see if we have filled the null values in PropertyAddress column 

null_counts = housing_data.isnull().sum()

print(null_counts)

# It seems we still have 2 null values in PropertyAddress.

UniqueID               0
ParcelID               0
LandUse                0
PropertyAddress        2
SaleDate               0
SalePrice              0
LegalReference         0
SoldAsVacant           0
OwnerName          31216
OwnerAddress       30462
Acreage            30462
TaxDistrict        30462
LandValue          30462
BuildingValue      30462
TotalValue         30462
YearBuilt          32314
Bedrooms           32320
FullBath           32202
HalfBath           32333
dtype: int64

In [17]:
# Let's look at the 2 rows with null values.

null_property_address = housing_data[housing_data['PropertyAddress'].isnull()]

print(null_property_address)

       UniqueID           ParcelID            LandUse PropertyAddress  \
3434        3299   052 01 0 296.00      SINGLE FAMILY             NaN
29332      14753  108 07 0A 026.00  RESIDENTIAL CONDO             NaN

             SaleDate SalePrice    LegalReference SoldAsVacant  \
3434     May 31, 2013     79370  20130620-0063114           No
29332  April 15, 2014     79900  20140416-0031777           No

                  OwnerName                   OwnerAddress  Acreage  \
3434   KIRBY, WILLIAM E. JR  726  IDLEWILD DR, MADISON, TN     0.22
29332                   NaN                            NaN      NaN

                     TaxDistrict  LandValue  BuildingValue  TotalValue  \
3434   GENERAL SERVICES DISTRICT    16000.0        60800.0     76800.0
29332                        NaN        NaN            NaN         NaN

       YearBuilt  Bedrooms  FullBath  HalfBath
3434      1957.0       2.0       1.0       0.0
29332        NaN       NaN       NaN       NaN

In [18]:
# noticing in all that the PropertyAddress is the same as the OwnerAddress plus state, with row 3434 we can populate 
# the PropertyAddress with '726  IDLEWILD DR, MADISON'

# updating value
housing_data.at[3434, 'PropertyAddress'] = '726 IDLEWILD DR, MADISON'

In [19]:
print(housing_data.iloc[3434])

UniqueID                                    3299
ParcelID                         052 01 0 296.00
LandUse                            SINGLE FAMILY
PropertyAddress         726 IDLEWILD DR, MADISON
SaleDate                            May 31, 2013
SalePrice                                  79370
LegalReference                  20130620-0063114
SoldAsVacant                                  No
OwnerName                   KIRBY, WILLIAM E. JR
OwnerAddress       726  IDLEWILD DR, MADISON, TN
Acreage                                     0.22
TaxDistrict            GENERAL SERVICES DISTRICT
LandValue                                16000.0
BuildingValue                            60800.0
TotalValue                               76800.0
YearBuilt                                 1957.0
Bedrooms                                     2.0
FullBath                                     1.0
HalfBath                                     0.0
Name: 3434, dtype: object

In [20]:
# Now let's look at the second one, first we can check if their are any other rows with the same ParcelID 

housing_data.loc[housing_data['ParcelID'] == '108 07 0A 026.00']

,UniqueID,ParcelID,LandUse,PropertyAddress,SaleDate,SalePrice,LegalReference,SoldAsVacant,OwnerName,OwnerAddress,Acreage,TaxDistrict,LandValue,BuildingValue,TotalValue,YearBuilt,Bedrooms,FullBath,HalfBath
29332,14753,108 07 0A 026.00,RESIDENTIAL CONDO,NaN,"April 15, 2014",79900,20140416-0031777,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29333,38527,108 07 0A 026.00,RESIDENTIAL CONDO,"908 PATIO DR, NASHVILLE","September 3, 2015",89000,20150908-0091002,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29334,43392,108 07 0A 026.00,RESIDENTIAL CONDO,"908 PATIO DR, NASHVILLE","January 29, 2016",104900,20160202-0009994,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# There are 2 over rows with the same ParcelID, therefor we can update the values

housing_data.at[29332, 'PropertyAddress'] = '908 PATIO DR, NASHVILLE'

In [22]:
# Checking the PropertyAddress null count again

null_count_PropertyAddress = housing_data['PropertyAddress'].isnull().sum()
print(null_count_PropertyAddress)

0

In [23]:
# Knowing that the PropertyAddress is the same as the OwnerAddress 
#and all the builting are located in tennessee(TN). We can drop the OwnerAddress

housing_data = housing_data.drop('OwnerAddress', axis=1)

In [24]:
# Now I can take the steet address and cite from the PropertyAddress column and
# seprate them into two column, also creating a state column populated with TN. 

# Spliting the PropertyAddress column into two new columns
housing_data[['StreetAddress', 'CityAddress']] = housing_data['PropertyAddress'].str.split(',', expand=True)

# creating the State column and set all its values to TN
housing_data['State'] = 'TN'

# Dropping the PropertyAddress column
housing_data = housing_data.drop('PropertyAddress', axis=1)

In [25]:
# Checking the changes to the data
housing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56477 entries, 0 to 56476
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   UniqueID        56477 non-null  int64
 1   ParcelID        56477 non-null  object
 2   LandUse         56477 non-null  object
 3   SaleDate        56477 non-null  object
 4   SalePrice       56477 non-null  object
 5   LegalReference  56477 non-null  object
 6   SoldAsVacant    56477 non-null  object
 7   OwnerName       25261 non-null  object
 8   Acreage         26015 non-null  float64
 9   TaxDistrict     26015 non-null  object
 10  LandValue       26015 non-null  float64
 11  BuildingValue   26015 non-null  float64
 12  TotalValue      26015 non-null  float64
 13  YearBuilt       24163 non-null  float64
 14  Bedrooms        24157 non-null  float64
 15  FullBath        24275 non-null  float64
 16  HalfBath        24144 non-null  float64
 17  StreetAddress   56477 non-null  object
 18  CityAddress     56477 non-null  object
 19  State           56477 non-null  object
dtypes: float64(8), int64(1), object(11)
memory usage: 8.6+ MB

# Converting the date format

In [26]:
print(housing_data['SaleDate'])

0             April 9, 2013
1             June 10, 2014
2        September 26, 2016
3          January 29, 2016
4          October 10, 2014
                ...
56472          May 27, 2015
56473         March 2, 2015
56474       August 16, 2016
56475     September 7, 2016
56476     September 7, 2016
Name: SaleDate, Length: 56477, dtype: object

In [27]:
# lastly I would like to Convert the SaleDate column to datetime format

housing_data['SaleDate'] = pd.to_datetime(housing_data['SaleDate'])

print(housing_data['SaleDate'])

0       2013-04-09
1       2014-06-10
2       2016-09-26
3       2016-01-29
4       2014-10-10
           ...
56472   2015-05-27
56473   2015-03-02
56474   2016-08-16
56475   2016-09-07
56476   2016-09-07
Name: SaleDate, Length: 56477, dtype: datetime64[ns]